//Mis colores
$colorTitle:      #303030;
$colorPrincipal:  #ed1806;
$colorBody:       #535353;
$extraLight:      lighten($colorPrincipal, 50%);
$lightPrincipal:  lighten($colorPrincipal, 39%);
$mediumPrincipal: lighten($colorPrincipal, 18%);
$grey:            #f9f9f9;

//Custom Boostrap
//----------------------------

///Colores
$link-color:                  $colorPrincipal;
$link-hover-color:            $colorPrincipal;
$carousel-caption-color:      $colorBody;
$list-group-border:           $lightPrincipal;
$tooltip-color:               $colorTitle;
$tooltip-bg:                  #fff;
$tooltip-arrow-color:         $colorPrincipal;
$table-bg:                    #fff;
$table-bg-accent:             $extraLight;
$input-border-focus:          $grey;
$dropdown-link-active-color:  #000;
$dropdown-link-active-bg:     $extraLight;
$btn-danger-bg:               $colorPrincipal;
$checkbox-color:              $colorPrincipal;

///Shadows
$carousel-text-shadow: none;

///Opacity
$tooltip-opacity: 1;

///Borders
$list-group-border-radius:  0;
$border-radius-base:        0;
$border-radius-large:       0;
$border-radius-small:       0;
$btn-border-radius-base:    0;
$btn-border-radius-large:   0;
$btn-border-radius-small:   0;
$panel-border-radius:       1px;
$input-border-radius:       0;

///Width
$tooltip-arrow-width:       5px;

///Typography
$font-size-h4:              19px;
