/* Bootstrap sass */
@import "bootstrap";

// Fonts
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf')
}
@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf')
}

body {
  font: 400 17px Lato, sans-serif !important;
  line-height: 1.8 !important;
  color: #535353 !important;
  > div {
    text-align: center;
    @include container-fixed();
    padding: 30px 17%;
    &:nth-of-type(odd) {
      background-color: $grey;
      h4 {
        margin-bottom: 30px;
      }
    }
  }
}

a{
  text-decoration:none !important;
}

em{
  color: darken($colorPrincipal, 7%);
}

h2{
  text-transform: uppercase;
  font-weight: 600 !important;
}

h4{
  color: $colorTitle !important;
  line-height: 1.375em;
  font-weight: 400;
  @media (max-width: $screen-sm){
    margin-bottom: 30px;
  }
}

input {
  border-radius: 0 !important;
}

ul, ol{
  list-style-position: inside !important;
}

table {
  th {
    text-align: center;
  }
}

.form-inline {
  .form-control {
    position: relative;
  }
}

/* Utilities */
.mt15 {
  margin-top: 15px;
}

.pColor{
  background-color: lighten($colorPrincipal, 49%);
  padding: 10px;
  color: lighten($colorTitle, 20%);
  //border: 1px solid lighten($colorTitle, 50%);
  box-sizing: border-box;
  @include shadow;
}

.pWhite {
  background-color: rgba(255, 255, 255, .9);
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

#titulo{
  background-color: $colorTitle;
  color: #fff;
  padding: 50px 25px;
  margin-top: 25px !important;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
} /* Jumbotron */

.navbar {
  margin-bottom: 0;
  background-color: $colorPrincipal !important;
  z-index: 9999;
  border: 0 !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font: {
    size: 12px !important;
    family: Montserrat, sans-serif;
  }
  @include shadow(2);

  li a, navbar-brand {
    color: #fff !important;
  }
  &-nav li {
    a:hover, .active a{
      color: $colorPrincipal !important;
      background-color: #fff !important;
    }
  }
  &-default {
    .navbar-nav>.active>a{
      color: $colorPrincipal !important;
      background-color: #fff !important;
    }
    .navbar-toggle{
      border-color: transparent;
      &:hover, &:focus{
        background-color: $lightPrincipal;
      }
      .icon-bar{
        background-color: #fff !important;
      }
    }
    .navbar-brand {
      color: $grey;
      transition: .3s;
      &:hover {
        color: darken($grey, 10%);
      }
    }
  }
}

/* Tooltips */
.tooltip {
  > .tooltip-inner{
    border: 1px solid $colorPrincipal;
    .esquema &,
    .tablaTrans & ,
    .switch-mt & {
      font-size: 15px !important;
      background-color: #000000 !important;
      color: #ffffff !important;
    }
  }
}

.tooltip-effect {
  display: inline;
  position: relative;
  z-index: 999;

  &:hover {
    .tooltip-item::after {
      pointer-events: auto;
    }
    .tooltip-content {
      pointer-events: auto;
      opacity: 1;
      -webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
      transform: translate3d(0,0,0) rotate3d(0,0,0,0);
    }
  }

  .tooltip-content {
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
  }
}

.tooltip-item {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  color: $colorPrincipal;
  padding: 0 5px;

  &::after {
    content: '';
    position: absolute;
    width: 360px;
    height: 20px;
    bottom: 100%;
    left: 50%;
    pointer-events: none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 360px;
  left: 50%;
  margin: 0 0 20px -180px;
  bottom: 100%;
  text-align: left;
  font-size: 0.765em;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;

  &::after {
    content: '';
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #2a3035;
    border-width: 10px;
    margin-left: -10px;
  }

  img {
    position: relative;
    height: 170px;
    display: block;
    float: left;
    margin-right: 1em;
  }
}

.tooltip-text {
  font-size: 15px;
  line-height: 1.35;
  display: block;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff;
}

/* Components Index */
.components{
  > div{
    @include make-row();
    > div{
      @include make-md-column(3);
      .collapse, .collapsing{
        margin-top: -15px !important;
      }
    }
  }
  .list-group-item{
    border: 0;
    margin-bottom: 10px;
    @include shadow;
  }
}

/* Glyphicons */
.logoSmall{
  color: grayscale($colorPrincipal);
  font-size: 50px;
  @include transition(background-color 1s ease-out);
  &:hover{
    color: $mediumPrincipal;
  }
}
.logoActive{
  color: $colorPrincipal !important;
  &:hover{
    color: grayscale($mediumPrincipal) !important;
  }
}
.logoHover{
  color: $mediumPrincipal !important;
}
.logoActiveHover{
  color: grayscale($mediumPrincipal) !important;
}

.logo{
  color: $colorPrincipal;
  font-size: 25px;
  margin-right: 5px;
}


/* Alerts */
.alert {
  width: 47% !important;
  margin: 10px auto !important;
  border-radius: 0 !important;
  display: none;
}


/* Buttons */
.myBtn{
  background-color: $colorPrincipal;
  color: #fff !important;
  &:hover{
    background-color: $mediumPrincipal !important;
  }
}

@media (min-width: 1500px) {
  .addState, .confirmDeleteState {
    width: 50%;
    padding: 10px 0;
    margin: 0 -2px;
  }

  .confirmDeleteState {
    border: none;
    background-color: $gray-lighter;
  }
}

.addTransition {
  height: 34px;
}

/* Carousel */
#myCarousel{
  .carousel-caption{
    position: relative;
    left: 0;
    right: 0;
  }
  .carousel-control.right, .carousel-control.left {
    background-image: none !important;
    color: $colorPrincipal !important;
    text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    bottom: 70%;
  }
  .carousel-indicators{
    .active {
      background-color: $colorPrincipal !important;
    }
    li {
      border-color: $colorPrincipal !important;
    }
  }
  .item p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.375em;
    margin-top: 10px;
    margin-bottom: 70px;
    margin-left: 150px;
    margin-right: 150px;
  }
}

/* Panels */
.panel{
  //border: 0px !important;
  &-title{
    a{
      color: #000 !important;
      font-family: Montserrat !important;
      text-decoration: none !important;
    }
  }
  &-group .panel {
    margin-bottom: 0px;
    border-radius: 0px !important;
  }
  &-info{
    border-color: lighten($colorPrincipal, 39%) !important;
    .panel-heading {
      background-color: lighten($colorPrincipal, 39%) !important;
      border-color: lighten($colorPrincipal, 39%) !important;
      border-top-left-radius: 0px !important;
      border-top-right-radius: 0px !important;
      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top: 0px !important;
      }
    }
    .list-group-item:nth-child(even) {
      background-color: $extraLight;
    }
  }
  &-heading{
    cursor: pointer;
  }
}

/* Tables */
.table-afd {
   tbody > tr {
    >td{
      border-top: 4px solid $grey;
    }
  }
}

.tablaDescrip{
  width: 50% !important;
  margin: 0 auto;
  >tbody>tr>td{
    text-align: center;
    border-top: 0px !important;
    border-bottom: 1px solid #ddd !important;
  }
}


/* Tabs */
.tab-content > .active {
  background-color: #fff;
  padding: 15px;
}


/* Representacion */
.representacion{
  @include make-row();
  > div{
    @include make-md-column(6);
  }
  .list-group-item:nth-of-type(odd){
    background-color: lighten($colorPrincipal, 45%);
  }
}


.ejemplosRep{
  tbody > tr > td:first-child{
    width: 100px !important;
  }
}


/* Funcionamiento */
.funcionamiento{
  > div{
    @include make-row();
  }
  .inicio,
  .mientras{
    > div{
      p, ul{
        text-align: left;
      }
    }
  }
  .inicio,
  .mientras,
  .fin{
    > div{
      @include make-md-column(6);
    }
  }
  .fin{
    ol{
      margin-left: -10px;
    }
  }
}


/* MT Generator */
#container{
  @include make-row();
  margin-left: 0;
  margin-right: 0;

  .tablaEstados{
    @include make-md-column(3);
  }

  .tablaTrans{
    @include make-md-column(9);
    .form-group{
      @include make-row();
      position: relative;
      > div {
        @include make-xs-column(2);

        label{
          white-space: nowrap;
        }
      }

      #addTransition {
        position: absolute;
        right: 0;
        bottom: 0;
      }

      .insertSpace {
        cursor: pointer;
      }
    } //end form-group
    th{
      width: calc(100%/6);
      white-space: nowrap;
    }
    @media (max-width: 991px) {
      margin-top: 30px !important;
    }
  }

  .option--final{
    background-color: $state-warning-bg;

    &:hover {
      background-color: $dropdown-link-hover-bg;
    }
    &::after{
      content: "*";
    }
  }
  // end container
}
#formCadena{
  @include container-fixed();
  padding: 50px 25px;
  margin-top: 30px !important;
  margin-bottom: 0px;
  @media (max-width: 991px) {
    margin-top: 90px !important;
  }
}
.removeTrans{
  cursor: pointer;
}
#result{
  display: none;
  margin: 15px auto 0;
  border: 1px solid #cccccc;
  padding: 10px;
  width: 500px;
}
.result{
  width: 75%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.switch-mt {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 0.9em;

  input {
    display: none;
  }
  input[type=checkbox]:checked ~ label {
    width: 125px;
    &::before {
      opacity: 1;
      @include translate(0, 0);
    }
    &::after {
      opacity: 0;
      @include translate(0, -20px);
    }
  }
  input[type=checkbox] + label {
    width: 125px;
    &::before {
      opacity: 0;
      @include translate(0, 20px);
    }
    &::after {
      opacity: 1;
      @include translate(0, 0);
    }
  }

  label {
    background-color: #FF5335;
    max-width: 100%;
    height: 45px;
    line-height: 45px;
    @include transition(all 0.2s);

    &::before, &::after {
      position: absolute;
      right: 1.5rem;
      @include transition(all 0.2s .1s ease-out);
    }
    &::before {
      content: attr(data-on-text);
    }
    &::after {
      content: attr(data-off-text);
    }
  }
}


/* Checkbox */
.input-checkbox {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;

  input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;

    & + .spanCheck{
      cursor: pointer;

      &::before {
        content: "";
        width: 18px;
        height: 18px;
        border: 2px solid #ccc;
        position: absolute;
        left: 7px;
        bottom: 7px;
        transition: all .2s ease;
        z-index: 1;
      }
    }

    &:checked + .spanCheck::before {
      left: 11px;
      width: 12px;
      height: 20px;
      border-color: $colorPrincipal;
      border-width: 2px;
      border-style: solid;
      border-top: transparent;
      border-left: transparent;
      border-radius: 0px;
      @include rotate(40deg);
    }
  }
}

/* Selects */
.bootstrap-select {
  button {
    height: 34px;
  }
}


/* Modals */
#log {
  padding-left: auto !important;
}

.log{
  background-color: $grey;
  max-height: 65vh;
  overflow-y: auto;
}

#modalBorrarEstado{
  p {
    margin-bottom: 2em;
  }
}

.footer-options{
  padding: 0;
  margin: 0 -15px -15px -15px;
  .btn {
    width: 50%;
    padding: 15px;
    font-size: 18px;
    margin: 0 0 0 -4px !important;
    border: 0;
  }
}

/* Footer */
footer{
  @include container-fixed();
  padding: 30px 50px;
  span{
    font-size: 20px;
    margin-bottom: 20px;
    color: $colorPrincipal;
  }
}

/* Utils */
.bgGrey {
  background-color: $grey;
}

p.bgGrey {
  padding: 10px;
}