//- bootstrap.jade
//- bootstrap mixins

//- Including Icon mixins
include components/icons
//- Including Alert mixins
include components/alerts
//- Including Tooltip mixins
include components/tooltips
//- Including Accordion mixins
include components/accordion
//- Including Carousel mixins
include components/carousel
//- Including Table mixins
include components/tables
//- Including Navbar mixins
include components/navbar
//- Including Toggle Button mixins
include components/toggle
//- Including Nav mixins
include components/navs
//- Including Label mixins
include components/labels
//- Including Panel mixins
include components/panels
//- Including Tab mixins
include components/tabs
//- Including Dropdown mixins
include components/dropdowns
//- Including Form control mixins
include components/forms
//- Including Modal dialog mixins
include components/modal
//- Including List group mixins
include components/list-groups
//- Including Progress bar mixins
include components/progress-bars
//- Including Button mixins
include components/buttons
//- Including Image mixins
include components/images
//- Including Bootswatch theme mixins
include components/bootswatch

//- My mixins
include templates/myMixins

doctype html
html(lang="es")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1")
		meta(name="description",content="")
		meta(name="author",content="")
		block meta
		title Aut칩matas y m치quinas de Turing
		block styles
			link(href="css/style.css", rel='stylesheet')
			link(href="css/bootstrap-select.min.css", rel='stylesheet')
			link(href="css/font-awesome.min.css", rel='stylesheet')
			link(href="css/material-icons.css", rel='stylesheet')


	body(data-spy="scroll",data-target=".scrollspy")#myPage
		block body
			block navbar
				include templates/_navbar
			block jumbotron
				#titulo.jumbotron.text-center
					h1 Aut칩matas y m치quinas de Turing
			block content
			block footer
				include templates/_footer

		block scripts
			script(src="js/jquery-3.2.1.min.js")
			script(src="js/bootstrap.min.js")
			script(src="js/bootstrap-select.min.js")
			script(src="js/main.js")


