mixin nav_tooltip(href, title)
  li: a(
  href=href
  data-toggle="tooltip"
  data-placement="bottom"
  title=title)
    block

+navbar-fixed("URJC","myNavbar")
  +nav_item("index.html","active") AUTÓMATAS
  +nav_tooltip("afd.html", "Autómatas Finitos Deterministas") AFD
  +nav_tooltip("afnd.html", "Autómatas Finitos No Deterministas") AFND
  +nav_tooltip("aapilas.html", "Autómatas a pilas") A. A PILAS
  +nav_tooltip("turing.html", "Máquinas de Turing") M. DE TURING
  +nav_tooltip("mt_editor.html", "Editor de Máquinas de Turing") MT EDITOR
